.reset-pass {
  padding-top: 100px;
  max-width: 350px!important;
}

.reset-pass .card-body {
    overflow: hidden;
    box-shadow: inset 0 4px 0 0 #007bff;
    border-radius: .625rem;
}

.reset-pass__titulo {
    font-size: 1.125rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.reset-pass__justify_links {
    display: flex;
    justify-content: space-between;
}